html,
body {
  height: 100%;
  /* border: black 2px solid; */

  /* background-color: yellow; */
}
#maincointainer {
  height: 100%;
  /* border: black 2px solid; */
  /* background-color: rgb(101, 116, 48); */
  margin: 0px;
  padding: 0px;
}

#head {
  height: 20%;
  background-color: palegreen;
  color:black;
  /* text-align: center; */
  padding-top: 20px;
}

#main {
  /* width: 100%; */
  background-color: rgb(161, 161, 144);
  /* border: black 2px solid; */
  background-image: url("https://i.ytimg.com/vi/mOFoh9FUR8w/maxresdefault.jpg");
  /* Full height */
  height: 75%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  height: 100%;
  /* background-color: black; */
  /* overflow: scroll; */
}

#logincol {
  color: white;
}


.footer {
  height: 5%;
  background-color: palegreen;
}
